*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.main{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    
    background-color: white;
    width: 400px;
    border-radius: 5%;
    text-align: center;
    padding: 10px;
    font-size: 35px;
}
button{
    display: block;
    width: 100%;
    background-color: black;
    color:white;
    border: none;
    border-radius: 10%;
    font-size: 30px;
}
